.Rproj.user
.Rhistory
.RData
.Ruserdata
.mcp.json
*.Rproj

input/
output/
output_capped/
data/
fabio_data_local/
comtrade_cache/
own_data/
intermediate_data/
inputs_for_final_data/
R/exp/
R/exp_pure/
mess.R
*.pyc
R/v1.2_check.R
BCP/